@use '../global' as g;

.portfolio {
	// responsive
	width: 100vw;
	overflow-x: hidden;
	@include g.flex-col(flex-start);

	&-container {
		width: 100%;

		& h1 {
            width: 40%;
            clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0 100%, 0 0);
            border-top: 3px solid rgba(0, 255, 0, 0.5);
            border-bottom: 3px solid rgba(0, 255, 0, 0.5);
			@include g.bg-matrix;
		}
	}
}

@media screen and (max-width: 767px) {
    .portfolio {

    
        &-container {

    
            & h1 {
                width: 70%;
                font-size: 3rem;
            }
        }
    }
}
.section-container {
	@include g.flex-col(none);
	margin: 3rem 0;
}
.section-list {
	margin: 3rem 0 0;
	@include g.flex-row(center);
	flex-wrap: wrap;
	gap: 3rem;
	padding: 0 5rem;
}
@mixin section-item($name: '', $project: false, $download: false) {
	.section-item#{$name} {
		@if ($project) {
			border: 1px solid #191919;
			width: 340px;
			height: 450px;
			background: #f9f9f9;
			height: max-content;
            
			@include g.flex-col(flex-end);
			gap: 1rem;

			.image {
				flex: 1;
				width: 100%;
				box-shadow: none !important;
				margin-bottom: 1rem;
			}
			.image-info {
				width: 100%;
				height: 170px;
				gap: 1rem;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: space-around;
				padding: 2rem 1rem;
			}
		} @else {
			@if ($download) {
				width: 160px;
				height: 80px;
				text-decoration: underline;
				margin: 0.5rem;
			} @else {
				width: 200px;
				height: 200px;
				color: rgb(210, 246, 218);
				text-align: center;
                border: 1px solid rgba(0, 255, 0, 0.5);
				text-shadow: 1px 5px 25px rgba(0, 255, 0, 0.5),
					1px -5px 15px rgba(0, 255, 0, 0.5);
				@include g.bg-matrix;
			}

			font-weight: 600;
			@include g.flex-col(center);
		}
		cursor: pointer;
		padding: 2rem;

		& .item-title {
			font-size: 3rem;
		}
		& .item-hide {
			display: none !important;
		}
		& .item-icon {
			font-size: 50px;
		}
		& .item-show {
			// color: goldenrod;
			font-size: 3rem;
		}
		&:hover {
			& .item-hide {
				display: inline !important;
			}
			& .item-show {
				display: none;
			}
			& .item-icon {
				display: none;
			}
		}
	}
}
@include section-item;
@include section-item('-project', $project: true);
@include section-item('-download', $download: true);

.section-content {
	padding: 7rem 0;
	text-align: left;
}
@media screen and (max-width: 768px) {
	.portfolio {
		padding: 0;
		.section-item {
			width: 130px;
			height: 130px;
		}
		.section-list {
			gap: 3rem;
		}
	}
}

.introduce {
	// padding: 5rem;
	height: max-content !important;
	// @include g.flexbox(col));
	&__container {
        padding: 5rem 10rem;
		width: 100%;
		height: 100%;
        @include g.flex-row(none);
		// display: grid;
	}

	&__images {
        flex: 0.4;
		@include g.flex-col(center);
		// #test-background
	}
}
.introduce__content {
    flex: 0.6;
	padding: 15rem 0;
	@include g.flex-col(flex-start);
    text-align: left;
    // background: brown;
    font-size: 2.4rem;

    & p {
        width: 100%;
        font-weight: 500;
        & span {
            padding: .5rem;
            text-shadow: 1px 5px 25px rgb(0, 255, 0),
            1px -5px 15px rgb(0, 255, 0);
        }

        & a {
            padding: .5rem;
            text-shadow: 1px 5px 25px rgb(0, 255, 0),
            1px -5px 15px rgb(0, 255, 0);
        }
    }

}
.introduce__img {
	@include g.flex-row(center);
}
.introduce__img--outer {
	width: 20vw;
	height: 100%;
	border: 3px solid #191919;
	cursor: pointer;
	padding: 0.5rem;
}
.introduce__img--inner {
	width: 100%;
	height: 100%;
	display: block;
	margin: 0 auto;
	overflow: hidden;
	border: 3px solid #191919;
}

.introduce__img--inner img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.introduce__img--outer:hover img {
	transform: scale(1.2);
	transition: 3s linear;
}

@media screen and (max-width: 768px){
    .introduce {
        // padding: 5rem;
        height: max-content !important;
        // @include g.flexbox(col));
        &__container {
            padding: 5rem 3rem;
            width: 100%;
            height: 100%;
            @include g.flex-col(none);
            // display: grid;
        }
    
        &__images {
            flex: 1;
            @include g.flex-col(center);
            // #test-background
        }
    }
    .introduce__content {
        flex: 1;
        padding: 15rem 0;  
        & p {
            font-weight: 600;

        }
    
    }  
    
}

/* --------------------------------- SKILLS --------------------------------- */

.skill {
	padding: 5rem 0;
	&__container {
		&--list {
			margin: 3rem 0 0;
			@include g.flex-row(center);
			flex-wrap: wrap;
			gap: 3rem;
			padding: 0 5rem;
		}
	}
}
@media screen and (max-width: 767px) {
	.skill {
		padding: 0;

		&__container {
			&--list {
				gap: 1rem;
				padding: 0rem;

				& .section-item {
					flex: 1 30%;
					width: 110px;
					height: 110px;
					padding: 0;

					& .item-title {
						font-size: 1.6rem !important;
					}
				}
			}
		}
	}
}

/* --------------------------- portfolio > project -------------------------- */
.project {
    // @include g.bg-matrix;
    height: max-content !important;
	&__list--row {
		gap: 1rem;
		@include g.flex-row(center);
	}
	&__list--col {
		@include g.flex-col(center);
	}
	&__list--row,
	&__list--col {
		width: 100%;
		padding: auto;
		margin: 3rem 0 0;
		flex-wrap: wrap;
		// gap: 3rem;

		h2 {
			margin: 1rem 0;
			span {
				text-decoration: underline;
			}
		}
	}
	&__list--buttons {
		@include g.flex-row(center);
	}

	&__info {
		@include g.flex-row(center);
	}
}

@media screen and (max-width: 768px){
    
    .project {
        &__list--row {
            gap: 1rem;
            @include g.flex-col(center);
        }
    }
    
}